<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>My Bills</h3>
            <% if (bills.length===0) { %>
                <p>No bills found.</p>
                <% } else { %>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <% for(let bill of bills) { %>
                            <div class="col">
                                <div class="card h-100 bill-card">
                                    <div class="card-body m-3">
                                        </p>
                                        <p class="card-text"><b>Due Date:</b>
                                            <%= bill.dueDate ? new Date(bill.dueDate).toLocaleDateString() : 'N/A' %>
                                        </p>
                                        <!-- <p class="card-text"><b>Status:</b> <%= bill.status %></p> -->
                                        <div class="d-flex justify-content-between align-items-center mt-3">
                                            <a href="/billing/<%= bill.id %>" class="btn btn-sm btn-info">View
                                                Details</a>
                                            <a href="/billing/<%= bill.id %>/generate-pdf"
                                                class="btn btn-sm btn-success" target="_blank">Generate PDF</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <% } %>
        </div>
    </div>